

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> Math </title>
  
  <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.2.min.js'></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js'></script>
  
  <style type='text/css'>
    input {
		font-size:100%;
	}

	body {
		font-size:300%;font-weight:bold; text-align: center
	}

	.records
	{
		position:absolute; font-size:30%; right: 0; width: 300px; height: 180px; text-align: left; font-weight: normal; overflow: auto;
	}

    .multable {
        position: absolute;
        font-size: 50%;
        background: white;
    }

    .cell {
        float: left;
        width: 40px;
        height: 40px;
    }

    .row {
        border-bottom: 1px solid red;
    }

    .col {
        border-right: 1px solid red;
    }

    .cell span.value {
        display: block;
        height: 100%;
        background: white;
        opacity: 0;
    }
  </style>
  


<script type='text/javascript'>//<![CDATA[ 

function defaultCtrl($scope, $timeout) {

    $scope.getMulTableValue = function(row, col) {
        var multableIndex = row*11 + col;
        return $scope.multable[multableIndex] || 0;
    }

    $scope.updateMulTableValue = function(row, col, correct) {
        var value = $scope.getMulTableValue(row, col);

        if (correct) value++;
        else value -= 5;

        var multableIndex = row*11 + col;
        $scope.multable[multableIndex] = value;
    }

    function readMulTable() {
        return JSON.parse(localStorage.getItem("multable")) || [];
    }

    function saveMulTable(table) {
        localStorage.setItem("multable", JSON.stringify(table));
    }

	function saveToStorage(ex)
	{
		localStorage.setItem(ex.name + "-correct", ex.correct);
		localStorage.setItem(ex.name + "-incorrect", ex.incorrect);
	}

	function getFromStorage(ex)
	{
		ex.correct = Number(localStorage.getItem(ex.name + "-correct"));
		ex.incorrect = Number(localStorage.getItem(ex.name + "-incorrect"));
		ex.records = JSON.parse(localStorage.getItem(ex.name + "-records")) || [];
	}

	function saveCurrentRecord(ex)
	{		
		var newRecord = true;
		for (var i = ex.records.length-1; i >= 0; i--) {
			if (!ex.records[i].newRecord) continue;
			newRecord = ex.correct_timer > ex.records[i].record;
			break;
		}
		ex.records.push({date: new Date(), record: ex.correct_timer, newRecord: newRecord});
		localStorage.setItem(ex.name + "-records", JSON.stringify(ex.records));
	}
    
    function Exercise(name, numbersGenerator, operation, operationText, opacityLevel)
    {
		
        this.name = name;
        this.numbersGenerator = numbersGenerator;
        this.operation = operation;
        this.operationText = operationText;
        this.opacityLevel = opacityLevel || 1000;
        this.correct = this.correct_timer = this.incorrect = this.incorrect_timer = 0;
        this.nextNumbers = function() {
            var numbers = numbersGenerator();
            this.number1 = numbers[0];
            this.number2 = numbers[1];
        };
        
        this.timerText = "Таймер";
		this.timer = this.timerText;
        
        this.timer_started = false;
        this.color = "black";
        
        this.nextNumbers();
		getFromStorage(this);
    }

    function Mul(num, opacityLevel) {
        return new Exercise(
        "mul" + num,
        function () { 
            var n1 = Math.floor(Math.random() * 11);
            var n2 = num;
            return Math.random() > 0.5 ? [n1, n2] : [n2, n1];
        },
        function (a, b) { return a * b; },
        "x",
        opacityLevel);
    }

    function Several() {

        function enumerateMulTable(numbers, handlerFunc) {            
            // Cols
            numbers.forEach(function(col) {
                for (var row = 0; row <= 10; row++) handlerFunc(row, col, $scope.getMulTableValue(row, col));
            });

            // Rows
            numbers.forEach(function(row) {
                for (var col = 0; col <= 10; col++)
                    if (numbers.indexOf(col) == -1) handlerFunc(row, col, $scope.getMulTableValue(row, col));
            });
        }

        function getCrossingProbability(x, y, median) {
            return Math.abs($scope.getMulTableValue(x, y) - median) + 1;
        }

        return new Exercise(
        "ex3456",
        function() {

            var numbers = [3, 4, 5, 6];

            var allValues = [];
            enumerateMulTable(numbers, function(x, y, value) { allValues.push(value); });
            allValues.sort(function(a, b) { return a-b; });
            var median = allValues[allValues.length/2];

            var sumProb = 0;
            enumerateMulTable(numbers, function(x, y, value) { sumProb += getCrossingProbability(x, y, median); });
            console.log(sumProb)
            
            var r = Math.floor(Math.random() * sumProb);
            var n1 = -1;
            var n2 = -1;
            enumerateMulTable(numbers, function(x, y) { 
                r -= getCrossingProbability(x, y, median);
                if (r <= 0 && n1 == -1) {
                    n1 = x;
                    n2 = y;
                }
            });

            return [n1, n2];
        },
        function(a, b) { return a * b; },
        "x");
    }
    
    $scope.multable = readMulTable();
    $scope.exercises = [/*Mul(3), Mul(4, 1600), Mul(5), Mul(6, 1100), Mul(7),*/ Several(), Mul(5)];

    $timeout(function() {

    });
            
    $scope.enter = function(ex, $event) {
        if ($event.keyCode != 13) return;
        if (ex.answer == "") return;
        if (ex.color != "black") return;
        
        var is_correct = ex.answer == ex.operation(ex.number1, ex.number2);

        if (is_correct) {
            ex.correct++;
            if (ex.timer_started) ex.correct_timer++;
            ex.color = "green";
        }
        else {
            ex.incorrect++;
            if (ex.timer_started) ex.incorrect_timer++;
            ex.color = "red";
        }

        $scope.updateMulTableValue(ex.number1, ex.number2, is_correct);
        saveMulTable($scope.multable);

        var span = $("div.multable > div:nth-child(" + (ex.number1 + 2) + ") > div:nth-child(" + (ex.number2 + 2) + ") span.value");
        span.css({opacity: 1});
        span.fadeOut(2000, function() {
            span.css({opacity: 0});
            span.show();
        });
        
        saveToStorage(ex);
        
        $timeout(function() {
            ex.color = "black";
            ex.answer = "";
            ex.nextNumbers();
        }, 500);

		var afterOpacityLevel = ex.correct - ex.opacityLevel;
		ex.opacity = afterOpacityLevel < 0 ? 1 : (100-afterOpacityLevel)/100;

    };

    $scope.startTimer = function(ex, $event) {
    	ex.timer_started = true;
    	
    	$($event.target).prev().focus()
		
		ex.correct_timer = 0;
		ex.incorrect_timer = 0;
		
		var seconds_left = 3*60;
		
		var timer = setInterval(function() {
			$scope.$apply(function() {
				var minutes = Math.floor(seconds_left/60);
				var seconds = seconds_left%60;
				if (seconds < 10) seconds = "0" + seconds;
				ex.timer = minutes + ":" + seconds;
				seconds_left--;
				if (seconds_left < 0)
				{
					clearTimeout(timer);
					ex.timer_started = false;
					ex.timer = ex.timerText;
					saveCurrentRecord(ex);
				}
			});
		}, 1000);
    };
    
    
};
//]]>  

</script>


</head>
<body>
  
<body ng-app>

<div ng-controller="defaultCtrl">

    <div class="multable">
       <div ng-repeat="x in [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <div ng-repeat="y in [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" 
                class="cell" 
                ng-class="{row: x == -1, col: y == -1}"
                style="background-color: {{y != -1 && x != -1? 'hsl(' + (60+getMulTableValue(x, y)) + ', 100%, 50%)' : 'white'}}">
                <span ng-if="x == -1 && y == -1">x</span>
                <span ng-if="x == -1 && y != -1">{{y}}</span>
                <span ng-if="y == -1 && x != -1">{{x}}</span>
                <span ng-if="y != -1 && x != -1" class="value" title="{{getMulTableValue(x, y)}}">{{x*y}}</span>
            </div>
       </div>
    </div>
    
    <div ng-repeat="ex in exercises" ng-style="{opacity: ex.opacity}">
    	<div class="records">
    		<div ng-repeat="rec in ex.records | orderBy:'date':true track by $index" ng-style="{'font-weight': rec.newRecord ? 'bold' : 'normal'}">
    		{{rec.date | date: "dd.MM.yy HH:mm"}} - {{rec.record}}
    		</div>
    	</div>
        <div>
            {{ex.number1}} {{ex.operationText}} {{ex.number2}}
            =
            <input size="3" ng-keyup="enter(ex, $event)" ng-model="ex.answer" ng-style="{color: ex.color}"></input>
            <input type="button" ng-value="ex.timer" ng-click="startTimer(ex, $event)" ng-disabled="ex.timer_started"></input>
        </div>
        <div style="color:green">
            Правильно: {{ex.correct}} ({{ex.correct_timer}})
        </div>
        <div style="color:red">
            Неправильно: {{ex.incorrect}} ({{ex.incorrect_timer}})     
        </div>
        <hr/>
    </div>
    
</div>
    
</body>
  
</body>


</html>


